$color_log_cabin_approx: #222;
$color_scooter_approx: #1eaedb;
$color_cerulean_approx: #0fa0ce;
$color_fuscous_gray_approx: #555;
$color_pink_swan_approx: #bbb;
$color_mine_shaft_approx: #333;
$color_suva_gray_approx: #888;
$white: #fff;
$color_picton_blue_approx: #33c3f0;
$color_celeste_approx: #d1d1d1;
$seashell: #f1f1f1;
$color_bon_jour_approx: #e1e1e1;