/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

@import "color";
@import "font";

//@extend-elements
//original selectors
//.column, .columns
%extend_1 {
	width: 100%;
	float: left;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}

.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.column {
	@extend %extend_1;
}
.columns {
	@extend %extend_1;
}
@media(min-width: 400px) {
}
@media(min-width: 550px) {
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4, $font_5;
	color: $color_log_cabin_approx;
}
h1 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 4.0rem;
	line-height: 1.2;
	letter-spacing: -.1rem;
}
h2 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
}
h3 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 3.0rem;
	line-height: 1.3;
	letter-spacing: -.1rem;
}
h4 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}
h5 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}
h6 {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0;
}
p {
	margin-top: 0;
	margin-bottom: 2.5rem;
}
a {
	color: $color_scooter_approx;
	&:hover {
		color: $color_cerulean_approx;
	}
}
.button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $color_fuscous_gray_approx;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	border: 1px solid $color_pink_swan_approx;
	cursor: pointer;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-bottom: 1rem;
	&:hover {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&:focus {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&.button-primary {
		color: $white;
		background-color: $color_picton_blue_approx;
		border-color: $color_picton_blue_approx;
		&:hover {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
		&:focus {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
	}
}
button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $color_fuscous_gray_approx;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	border: 1px solid $color_pink_swan_approx;
	cursor: pointer;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-bottom: 1rem;
	&:hover {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&:focus {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&.button-primary {
		color: $white;
		background-color: $color_picton_blue_approx;
		border-color: $color_picton_blue_approx;
		&:hover {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
		&:focus {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
	}
}
input[type="submit"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $color_fuscous_gray_approx;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	border: 1px solid $color_pink_swan_approx;
	cursor: pointer;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:hover {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&:focus {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&.button-primary {
		color: $white;
		background-color: $color_picton_blue_approx;
		border-color: $color_picton_blue_approx;
		&:hover {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
		&:focus {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
	}
}
input[type="reset"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $color_fuscous_gray_approx;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	border: 1px solid $color_pink_swan_approx;
	cursor: pointer;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:hover {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&:focus {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&.button-primary {
		color: $white;
		background-color: $color_picton_blue_approx;
		border-color: $color_picton_blue_approx;
		&:hover {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
		&:focus {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
	}
}
input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $color_fuscous_gray_approx;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	border: 1px solid $color_pink_swan_approx;
	cursor: pointer;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:hover {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&:focus {
		color: $color_mine_shaft_approx;
		border-color: $color_suva_gray_approx;
		outline: 0;
	}
	&.button-primary {
		color: $white;
		background-color: $color_picton_blue_approx;
		border-color: $color_picton_blue_approx;
		&:hover {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
		&:focus {
			color: $white;
			background-color: $color_scooter_approx;
			border-color: $color_scooter_approx;
		}
	}
}
input[type="email"] {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
input[type="number"] {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
input[type="search"] {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
input[type="text"] {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
input[type="tel"] {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
input[type="url"] {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
input[type="password"] {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
textarea {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	appearance: none;
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 1.5rem;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
select {
	height: 38px;
	padding: 6px 10px;
	background-color: $white;
	border: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	margin-bottom: 1.5rem;
	&:focus {
		border: 1px solid $color_picton_blue_approx;
		outline: 0;
	}
}
label {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
	> .label-body {
		display: inline-block;
		margin-left: .5rem;
		font-weight: normal;
	}
}
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}
fieldset {
	padding: 0;
	border-width: 0;
	margin-bottom: 1.5rem;
}
input[type="checkbox"] {
	display: inline;
}
input[type="radio"] {
	display: inline;
}
ul {
	list-style: circle inside;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 2.5rem;
	ul {
		margin: 1.5rem 0 1.5rem 3rem;
		font-size: 90%;
	}
	ol {
		margin: 1.5rem 0 1.5rem 3rem;
		font-size: 90%;
	}
}
ol {
	list-style: decimal inside;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 2.5rem;
	ol {
		margin: 1.5rem 0 1.5rem 3rem;
		font-size: 90%;
	}
	ul {
		margin: 1.5rem 0 1.5rem 3rem;
		font-size: 90%;
	}
}
li {
	margin-bottom: 1rem;
}
code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: $seashell;
	border: 1px solid $color_bon_jour_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
}
pre {
	margin-bottom: 2.5rem;
	> code {
		display: block;
		padding: 1rem 1.5rem;
		white-space: pre;
	}
}
th {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid $color_bon_jour_approx;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid $color_bon_jour_approx;
	&:first-child {
		padding-left: 0;
	}
	&:last-child {
		padding-right: 0;
	}
}
input {
	margin-bottom: 1.5rem;
}
blockquote {
	margin-bottom: 2.5rem;
}
dl {
	margin-bottom: 2.5rem;
}
figure {
	margin-bottom: 2.5rem;
}
table {
	margin-bottom: 2.5rem;
}
form {
	margin-bottom: 2.5rem;
}
.u-full-width {
	width: 100%;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}
.u-pull-right {
	float: right;
}
.u-pull-left {
	float: left;
}
hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 1px solid $color_bon_jour_approx;
}
.u-cf {
	content: "";
	display: table;
	clear: both;
}
@media(min-width: 750px) {
}
@media(min-width: 1000px) {
}
@media(min-width: 1200px) {
}
.row:after {
	content: "";
	display: table;
	clear: both;
}